.alert-material {
    position: fixed;
    right: 15px;
    top: 100px;
    background-color: #428bca;
    color: white;
}

body, header {
    padding-right:0px !important;
    margin-right:0px !important;
}